{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamil Baranowski Portfolio Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <ul>
        <li><a class="active" href="/">Main Page</a></li>
        <li><a href="">My projects</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
        <li><a href="">My CV</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About me</a></li>
      </ul>
    {% block content %}
    {% endblock %}
</body>
</html>