{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
{% endblock %}
{% block content %}
<h1>Shortcuts:</h1>
<br>
<a href="https://www.linkedin.com/in/kamil-baranowski-cz/" target="_blank" rel="noopener noreferrer"><img
        src="{% static 'images/linkedin.png' %}" class="contactLogo" /></a>

<a href="https://github.com/KamilBaranowskiCZ" target="_blank" rel="noopener noreferrer"><img
        src="{% static 'images/github.png' %}" class="contactLogo" /></a>

<a href="mailto:kamil.baranowski.cz@gmail.com" target="_blank" rel="noopener noreferrer"><img
        src="{% static 'images/gmail.png' %}" class="contactLogo" /></a>

<a href="tel:459 412 258" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/phone.png' %}"
        class="contactLogo" /></a>


<div class="bussinescard">
    <div class="card">
        <div class="card-back">
            <div class="line-numbers">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div><code><span class="variable">const</span><span class="function">aboutMe</span><span class="operator">=</span><span>{</span>
                <div class="indent"> <span class="property">name</span><span class="operator">:</span><span class="string">'Kamil Baranowski'</span><span>,</span></div>
                <div class="indent"> <span class="property">title</span><span class="operator">:</span><span class="string">'Junior Python Developer'</span><span>,</span></div>
                <div class="indent"> <span class="property">contact</span><span class="operator">:</span><span>{</span>
                  <div class="indent"> <span class="property">email</span><span class="operator">:</span><span class="string">'kamil.baranowski.cz@gmail.com'</span><span>,</span></div>
                  <div class="indent"><span class="property">phone</span><span class="operator">:</span><span class="string">'459 412 258'</span></div><span>}</span>
                </div><span>}</span></code>
        </div>
        <div class="card-front">
            <div class="line-numbers">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div>
            <code><span class="variable">this</span><span>.</span><span class="method">addEventListener</span><span>(</span><span class="string">'mouseover'</span><span>,</span><span class="function">() =></span><span>{</span>
                <div class="indent"><span class="variable">this</span><span>.</span><span class="property">flipCard</span><span>=</span><span class="boolean">true</span><span>;</span></div><span>});</span></code>
        </div>
    </div>
</div>
{% endblock %}