{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="column">
        <img src="{% static 'images/football/main_page.png' %}" />
    </div>
    <div class="column">
        <img src="{% static 'images/football/add_pitch.png' %}" />
    </div>
    <div class="column">
        <img src="{% static 'images/football/add_game.png' %}" />
    </div>
    <div class="column">
        <img src="{% static 'images/football/pitch_list.png' %}" />
    </div>
    <div class="column">
        <img src="{% static 'images/football/game_details.png' %}" />
    </div>
  </div>
{% endblock %}