{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block content %}

<h1>It is a Django app that allows you to meet other people for football matches. The application is available to
    residents of
    two cities with the possibility of further extend. Registered users can add football pitches and create matches.
    Each pitch must have its location, which is then displayed on the map on city page. Logged in users can sign up for
    matches and comment on them. The app is available in Polish language. </h1>
<h2><a href="https://github.com/KamilBaranowskiCZ/final_project" target="_blank" rel="noopener noreferrer">Check code on
        Github</a></h2>
<div class="row">
    <div class="column">
        <img src="{% static 'images/football/main_page.png' %}" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{% static 'images/football/add_pitch.png' %}" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{% static 'images/football/add_match.png' %}" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{% static 'images/football/pitch_list.png' %}" onclick="myFunction(this);">
    </div>
    <div class="column">
        <img src="{% static 'images/football/game_details.png' %}" onclick="myFunction(this);">
    </div>
</div>


<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
</div>
<script src="{% static 'js/project.js' %}"></script>
{% endblock %}